
[*.proto]
indent_style=tab
indent_size=tab
tab_width=4

[*.{asax,ascx,aspx,axaml,cs,cshtml,css,htm,html,js,jsx,master,paml,razor,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4

[*.{appxmanifest,axml,build,config,csproj,dbml,discomap,dtd,json,jsproj,lsproj,njsproj,nuspec,proj,props,resjson,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style=space
indent_size=2
tab_width=2

[*]

# Microsoft .NET properties
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_style_var_elsewhere=true:suggestion
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
dotnet_diagnostic.cs8632.severity=none
dotnet_diagnostic.cs8669.severity=none
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:suggestion
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:suggestion
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:suggestion
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=false:suggestion
dotnet_style_qualification_for_field=false:suggestion
dotnet_style_qualification_for_method=false:suggestion
dotnet_style_qualification_for_property=false:suggestion
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# ReSharper properties
resharper_align_first_arg_by_paren=false
resharper_align_multiline_argument=true
resharper_align_multiline_binary_expressions_chain=false
resharper_align_multline_type_parameter_constrains=true
resharper_blank_lines_after_control_transfer_statements=1
resharper_blank_lines_around_single_line_type=0
resharper_braces_for_for=required_for_multiline
resharper_braces_for_foreach=required_for_multiline
resharper_braces_for_while=required_for_multiline
resharper_constructor_or_destructor_body=expression_body
resharper_csharp_align_multiline_argument=false
resharper_csharp_align_multiple_declaration=true
resharper_csharp_empty_block_style=together
resharper_csharp_insert_final_newline=true
resharper_csharp_max_line_length=144
resharper_csharp_wrap_before_binary_opsign=true
resharper_csharp_wrap_for_stmt_header_style=wrap_if_long
resharper_csharp_wrap_parameters_style=wrap_if_long
resharper_indent_nested_foreach_stmt=true
resharper_indent_nested_for_stmt=true
resharper_indent_nested_while_stmt=true
resharper_int_align=true
resharper_int_align_binary_expressions=false
resharper_int_align_parameters=false
resharper_keep_existing_embedded_arrangement=false
resharper_keep_existing_expr_member_arrangement=false
resharper_keep_existing_initializer_arrangement=false
resharper_keep_existing_switch_expression_arrangement=false
resharper_local_function_body=expression_body
resharper_max_enum_members_on_line=1
resharper_max_initializer_elements_on_line=1
resharper_method_or_operator_body=expression_body
resharper_outdent_binary_ops=true
resharper_outdent_dots=false
resharper_place_attribute_on_same_line=false
resharper_place_constructor_initializer_on_same_line=false
resharper_place_expr_accessor_on_single_line=true
resharper_place_expr_method_on_single_line=false
resharper_place_expr_property_on_single_line=false
resharper_place_simple_case_statement_on_same_line=if_owner_is_single_line
resharper_place_simple_embedded_statement_on_same_line=false
resharper_place_simple_enum_on_single_line=true
resharper_place_simple_switch_expression_on_single_line=true
resharper_space_within_single_line_array_initializer_braces=true
resharper_trailing_comma_in_multiline_lists=true
resharper_wrap_array_initializer_style=chop_always
resharper_wrap_before_arrow_with_expressions=true
resharper_wrap_chained_binary_expressions=chop_if_long

# ReSharper inspection severities
resharper_arrange_constructor_or_destructor_body_highlighting=hint
resharper_arrange_local_function_body_highlighting=hint
resharper_arrange_method_or_operator_body_highlighting=hint
resharper_arrange_missing_parentheses_highlighting=hint
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_this_qualifier_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_compare_of_floats_by_equality_operator_highlighting=none
resharper_redundant_base_qualifier_highlighting=warning
resharper_suggest_var_or_type_built_in_types_highlighting=hint
resharper_suggest_var_or_type_elsewhere_highlighting=hint
resharper_suggest_var_or_type_simple_types_highlighting=hint
